import os

BASE_DIR = './'
RAM_DISK_DIR = '/mnt/ramdisk'  # Example for Ubuntu
# RAM_DISK_DIR = 'R:\\'  # Example for Windows
USE_RAM_DISK = False

if USE_RAM_DISK:
    BASE_DIR = RAM_DISK_DIR

CSD_DIRECTORY = os.path.join(BASE_DIR, 'csd')
INPUT_DIRECTORY = os.path.join(BASE_DIR, 'input')
OUTPUT_DIRECTORY = os.path.join(BASE_DIR, 'output')
STATS_DATA_DIRECTORY = os.path.join(BASE_DIR, 'stats')
INDIVIDUAL_DATA_DIRECTORY = os.path.join(BASE_DIR, 'individuals')
EFFECT_DIRECTORY = os.path.join(BASE_DIR, 'effects')
TEMP_DIRECTORY = os.path.join(BASE_DIR, 'tmp')
TEST_AUDIO_DIRECTORY = 'test_audio'

PRNG_SEED = 2

NUM_SIMULTANEOUS_PROCESSES = 4

VERBOSE = False  # Set this to True for debugging purposes

"""Sample rate. CD quality"""
SAMPLE_RATE = 44100

"""
The number of samples between two consecutive analyses.
AKA ksmps (csound - number of samples per k)
AKA step size (sonic annotator)
"""
HOP_SIZE = 512

"""
The number of samples in window used for spectral and temporal computations
AKA buffer size (aubio)
AKA block size (sonic annotator)
"""
FRAME_SIZE = HOP_SIZE * 2

WHITELISTED_SOUND_FILE_EXTENSIONS = ['wav']
