from __future__ import absolute_import
CSD_DIRECTORY = 'csd'
FEATURE_DATA_DIRECTORY = 'feature_data'
INPUT_DIRECTORY = 'input'
META_DATA_CACHE_DIRECTORY = 'meta_data_cache'
OUTPUT_DIRECTORY = 'output'
PROJECT_DATA_DIRECTORY = 'projects'

USE_GZIP = False
if USE_GZIP:
    import gzip
    FILE_HANDLER = gzip.GzipFile
    DATA_FILE_EXTENSION = '.json.gz'
else:
    FILE_HANDLER = open
    DATA_FILE_EXTENSION = '.json'

VERBOSE = False

"""Sample rate. CD quality"""
SAMPLE_RATE = 44100

"""The number of samples between two consecutive analysis. AKA ksmps in csound terms."""
AUBIO_HOP_SIZE = 256

"""The number of samples in window used for spectral and temporal computations"""
AUBIO_BUFFER_SIZE = AUBIO_HOP_SIZE * 2

"""ksmps (number of samples per k) for csound"""
CSOUND_KSMPS = AUBIO_HOP_SIZE
