.effect-viz-container {
  position: relative;
  overflow-x: scroll;
  overflow-y: hidden;
}

.effect-viz-container canvas {
  background: transparent;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
