md-content {
  margin: 10px;
  padding: 10px;
}

.stats-chart {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.histogram-chart {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}

.chart-legend {
  position: static !important;
}
