md-content {
  margin: 5px;
  padding: 10px;
}

.stats-chart {
  width: 100%;
  height: 300px;
  margin-bottom: 50px;
}

.histogram-chart {
  width: 100%;
  height: 200px;
  margin-bottom: 50px;
}

.chart-legend {
  position: static !important;
}

#sigma-container {
  width: 100%;
  height: 400px;
  margin: auto;
  cursor: move;
  border: solid 1px #eee;
}

#waveform-container {
  margin: 5px 0;
  border: solid 1px #eee;
}
