#sigma-container {
  width: 100%;
  height: 400px;
  margin: auto;
  cursor: move;
  border: solid 1px #eee;
  position: relative;
}

#sigma-container .reset-zoom {
  position: absolute;
  bottom: 0;
  right: 0;
  display: none;
  z-index: 1;
}

#sigma-container .sigma-tooltip {
  padding: 5px;
  width: 250px;
  height: auto;
  max-height: 300px;
  background-color: #fafafa;
  font-size: 90%;
  cursor: auto;
  overflow-y: scroll;
  z-index: 3;
  margin-top: 20px;
}
