<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Cross-adaptive audio</title>

  <!-- Libs -->
  <script src="lib/angular/angular.js"></script>
  <script src="lib/angular/angular-animate.js"></script>
  <script src="lib/angular/angular-aria.js"></script>
  <script src="lib/d3/d3.min.js"></script>
  <script src="lib/line-chart/LineChart.min.js"></script>
  <link rel="stylesheet" href="lib/line-chart/LineChart.min.css">
  <link rel="stylesheet" href="lib/angular-material/angular-material.css">
  <script src="lib/angular-material/angular-material.js"></script>

  <!-- App-specific files -->
  <script src="src/app.js"></script>

  <script src="src/controllers/selectGenerationCtrl.js"></script>
  <script src="src/controllers/selectIndividualCtrl.js"></script>

  <script src="src/services/communicationService.js"></script>
  <script src="src/services/statsService.js"></script>

  <script src="src/directives/statsChart.js"></script>
  <script src="src/directives/histogramChart.js"></script>

  <link rel="stylesheet" href="css/main.css">
</head>

<body ng-app="crossAdaptiveAudioApp">

<md-content>
  <h3>Fitness plot</h3>
  <p>Interaction: Drag with the mouse to pan. Hold alt and drag to zoom. Click series in the legend to toggle visibility.</p>
  <stats-chart></stats-chart>

  <h3>Select generation for histogram fitness plot</h3>
  <p>Interaction: While slider is focused, use the arrow keys to navigate</p>
  <div layout ng-controller="SelectGenerationCtrl as selectGeneration">
    <div flex="10" layout layout-align="center center">
      <span class="md-body-1">generation</span>
    </div>
    <md-slider
        ng-if="selectGeneration.statsService.selectedGeneration"
        flex
        md-discrete
        ng-model="selectGeneration.statsService.selectedGeneration"
        step="1"
        min="1"
        max="{{ selectGeneration.statsService.numGenerations }}"
        aria-label="Selected generation"
    >
    </md-slider>
  </div>

  <histogram-chart></histogram-chart>

  <h3>Select individual to visualize</h3>
  <p>Sorted by fitness (best to the right)</p>
  <div ng-controller="SelectIndividualCtrl as selectIndividual">
    <div layout>
      <div flex="10" layout layout-align="center center">
        <span class="md-body-1">individual</span>
      </div>
      <md-slider
          ng-if="selectIndividual.statsService.selectedGeneration"
          flex
          md-discrete
          ng-model="selectIndividual.statsService.selectedIndividualIndex"
          step="1"
          min="0"
          max="{{ selectIndividual.statsService.populationSize - 1 }}"
          aria-label="Selected individual"
          ng-change="selectIndividual.selectedIndividualChanged()"
      >
      </md-slider>
    </div>
    <md-card>
      <md-card-title>
        <md-card-title-text>
          <span class="md-headline">
            Individual
            {{ selectIndividual.statsService.data[selectIndividual.statsService.selectedGeneration - 1].individuals[selectIndividual.statsService.selectedIndividualIndex].id }}
          </span>
          <span class="md-subhead">
            Fitness: {{ selectIndividual.statsService.data[selectIndividual.statsService.selectedGeneration - 1].individuals[selectIndividual.statsService.selectedIndividualIndex].fitness }}
          </span>
        </md-card-title-text>
      </md-card-title>
      <md-card-content>
        <pre ng-if="selectIndividual.individualDetails">{{ selectIndividual.individualDetails.genome_data }}</pre>
        <p ng-if="!selectIndividual.loading && selectIndividual.individualDetails === null">
          Detailed data about this individual is not available. It might have been deleted.
        </p>
      </md-card-content>
    </md-card>

  </div>

</md-content>

</body>
</html>
