{% extends "analyzer_base_template.csd.jinja2" %}

{#
  Copyright 2016 Oeyvind Brandtsegg

  This file is part of the Feature-Extract-Modulator package

  The Feature-Extract-Modulator is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License version 3
  as published by the Free Software Foundation.

  The Feature-Extract-Modulator is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with The Feature-Extract-Modulator package.
  If not, see <http://www.gnu.org/licenses/>.
#}

{% block globals %}
  {% if 'csound_spectral_centroid' in features %}
    gifftsize = {{ frame_size }}
  {% endif %}
{% endblock %}
{% block analysis %}
  {% if 'csound_rms' in features %}
    k_csound_rms rms a1, 20
  {% endif %}

  {% if 'csound_spectral_centroid' in features %}
    iwtype = 1  ; window type
    fsin pvsanal a1, gifftsize, gifftsize/2, gifftsize, iwtype
    k_csound_spectral_centroid pvscent fsin
  {% endif %}

  {% if 'csound_pitch' in features %}
    aPitch, aLock plltrack a1, 0.1
    k_csound_pitch downsamp aPitch
  {% endif %}
{% endblock %}
{% block dump %}
  dumpk{{ num_features if num_features > 1 }} {% for feature in features_order %}k_{{ feature }}, {% endfor %}"$OUTPUT_ANALYSIS_FILE_PATH", 6, 0
{% endblock %}
