{% extends "base_template.csd.jinja2" %}
{% block globals %}
  giSine	ftgen 0, 0, 65536, 10, 1
{% endblock %}
{% block effect %}
  kModFreq		tonek kChannel0[kTime - 1], {{ parameter_lpf_cutoff }}

  aMod		oscili	0.5, kModFreq, giSine
  aMod		= aMod + 0.5
  aOut = aIn * aMod
{% endblock %}
