<CsoundSynthesizer>
  <CsOptions>
  </CsOptions>
  <CsInstruments>
    sr = 44100
    ksmps = {{ ksmps }}
    nchnls_i = 2
    nchnls = 1
    0dbfs = 1

    pyinit

    {% block globals %}{% endblock %}
    gifftsize = 1024 {# TODO: frame_size #}

    instr 1

    pyruni {{ '{{' }}
import sys
{% for path in sys_paths %}sys.path.append('{{ path }}')
{% endfor %}
import live_mapper
import json
import base64
that_live_mapper = live_mapper.LiveMapper(parameter_data=json.loads(base64.b64decode("{{ parameter_data_base64 }}")))

    {{ '}}' }}

    aParam, aIn		ins

    {% block analysis %}
      {# Proof of concept analysis #}
      kRms rms aParam

      iwtype = 1  ; window type
      fsin pvsanal aParam, gifftsize, gifftsize/2, gifftsize, iwtype
      kCentroid pvscent fsin

      kAnalysis0 = kRms
      kAnalysis1 = kCentroid

      pycall   "that_live_mapper.activate", kAnalysis0, kAnalysis1

      {% for name in parameter_names %}kChannel{{ loop.index0 }} pycall1 "that_live_mapper.get_effect_parameter_value", {{ loop.index0 }}
      {% endfor %}
    {% endblock %}

    {% for name in parameter_names %}k_{{ name }} tonek kChannel{{ loop.index0 }}, {{ parameter_lpf_cutoff }}
    {% endfor %}

    {% block effect %}{% endblock %}

    out aOut

    endin
  </CsInstruments>
  <CsScore>
    i1 0 {{ duration }}
    e
  </CsScore>
</CsoundSynthesizer>
