<CsoundSynthesizer>
  <CsOptions>
  </CsOptions>
  <CsInstruments>
    sr = 44100
    ksmps = {{ ksmps }}
    nchnls = 1
    0dbfs = 1

    {% block globals %}{% endblock %}

    instr 1

    kTime timek

    {% block channels %}
      {% for channel in parameter_channels %}
        kChannel{{ loop.index0 }}[] fillarray {{ channel }}
      {% endfor %}
    {% endblock %}

    {% block parameter_init %}
      {% for name in parameter_names %}
        k_{{ name }} tonek kChannel{{ loop.index0 }}[kTime - 1], {{ parameter_lpf_cutoff }}
      {% endfor %}
    {% endblock %}

    aIn in

    {% block effect %}{% endblock %}

    out aOut

    endin
  </CsInstruments>
  <CsScore>
    i1 0 {{ duration }}
    e
  </CsScore>
</CsoundSynthesizer>
