{% extends "base_template.csd.jinja2" %}
{% block globals %}
  giSine	ftgen 0, 0, 65536, 10, 1
{% endblock %}
{% block effect %}
  kLevelAdjust	= 1-(k_feed*0.4)				; adjust the output level a little bit down, as level increases as a result of the modulation and feedback
  iFlangWave	= giSine				; flanger waveform
  aDelayTime	oscili	0.5, k_rate, iFlangWave		; delay time oscillator (LFO)
  aDelayTime	= ((aDelayTime+0.5)*k_depth)+k_offset	; scale and offset LFO
  iMaxDelay	= 0.1
  iWindowSize	= 4
  aFeed		init 0
  aFlanger 	vdelayx aIn+aFeed, aDelayTime*0.001, iMaxDelay, iWindowSize
  aFeed		= aFlanger*k_feed
  aOut = (aIn + aFlanger) * 0.5 * kLevelAdjust
{% endblock %}
