{#
  Copyright 2015 Oeyvind Brandtsegg

  Parts of this file originates from the Signal Interaction Toolkit

  The Signal Interaction Toolkit is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License version 3
  as published by the Free Software Foundation.

  The Signal Interaction Toolkit is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.

  You should have received a copy of the GNU General Public License
  along with The Signal Interaction Toolkit.
  If not, see <http://www.gnu.org/licenses/>.
#}
kDist		= 0.001
afilt		lpf18 aIn, k_freq, k_resonance, kDist
aOut		= afilt * post_gain
