{% extends "base_template.csd.jinja2" %}
{% block effect %}
  kMakeupGain	= 1 / sqrt(k_mirror)			; Make up for gain loss in clipping stage
  aIn		mirror	aIn, -k_mirror, k_mirror	; mirror signal at threshold
  aOut = aIn * kMakeupGain
{% endblock %}
