{% extends "base_template.csd.jinja2" %}
{% block globals %}
  giSine	ftgen 0, 0, 65536, 10, 1
{% endblock %}
{% block effect %}
  k_max_freq	= 2000					; phaser max freq
  k_min_freq	= 500					; phaser min freq
  kLevelAdjust	= 1-(k_resonance*0.4)			; adjust the output level a little bit down, as level increases as a result of the modulation and feedback
  iNotches	= 12					; number of phasing notches
  iMode		= 2					; notch spacing mode (1=harmonic, 2=interval)
  iSep		= 1.8					; notch spacing value
  kQ		= 0.6					; Q of each node
  iPhaseWave	= giSine				; phaser waveform
  kLFO		oscili	0.5, k_rate, iPhaseWave		; LFO, controls filter frequency
  kFreq		= ((kLFO+0.5)*(k_max_freq-k_min_freq))+k_min_freq	; scale and offset LFO
  aPhaser 	phaser2 aIn, kFreq, kQ, iNotches, iMode, iSep, k_resonance
  aOut = (aIn + aPhaser) * 0.5 * kLevelAdjust
{% endblock %}
