; slope based delay distortion
an1		delay1	aIn		; delay audio by 1 sample
aslope		= aIn - an1		; find difference between samples (= slope of the waveform)

k_drive		= k_drive/100		; we want drive to have a range comparable to other distortion "drive" parameters
k_slope		= k_slope * k_drive
k_duty		= k_duty * k_drive

atemp    	delayr  0.1
aout1   		deltapi 0.004 + ((2-aIn)*k_duty) + (aslope * k_slope)	; Slope&Duty controlled delay time
delayw  	aIn

aOut butterlp aout1, k_cutoff
