k_type		= int(k_type)			;  Saturation (soft clip) type: 0=Bram de Jong, 1=sine, 2=tanh
ipi		= 3.14159265358979323846264338	; The pi constant

aClip		limit	aIn, -k_clip, k_clip	; hard clipping part
aRest		= aIn-aClip			; the rest (hard clipped part) of the signal, this is the signal we will soft clip

aBramClip	= aRest/(1+(aRest/(1-k_clip))^2)	; Bram de Jong soft clipping
aSinClip	= sin(aRest*ipi*0.5)*k_clip	; sin based soft clipping
aTanhClip	= tanh(aRest/k_clip)*k_clip	; tanh based soft clipping

kBram		= (k_type == 0 ? 1 : 0)
kSin		= (k_type == 1 ? 1 : 0)
kTan		= (k_type == 2 ? 1 : 0)
aSoft		= (aBramClip*kBram)+(aSinClip*kSin)+(aTanhClip*kTan)
aOut = (aClip+aSoft)
