<CsoundSynthesizer>
    <CsOptions>
        -i input/{{ sound_filename }}
    </CsOptions>
    <CsInstruments>
        sr = 44100
        ksmps = {{ ksmps }}
        nchnls = 1
        0dbfs = 1

        pyinit

        instr 1

        pyruni {{ '{{' }}
from reader import Reader
import standardizer
my_reader = Reader(data_sound_filename='{{ data_sound_filename }}')
        {{ '}}' }}

        aIn in

        kRms pyeval "standardizer.Standardizer.get_normalized_value(my_reader.get_next_value('mfcc_amp'))"

        aIn = aIn * kRms

        out aIn

        endin
    </CsInstruments>
    <CsScore>
        i1 0 {{ duration }}
        e
    </CsScore>
</CsoundSynthesizer>
