<CsoundSynthesizer>
    <CsOptions>
        -i input/{{ sound_filename }}
    </CsOptions>
    <CsInstruments>
        sr = 44100
        kr = {{ krate }}
        nchnls = 1
        0dbfs = 1

        pyinit

        instr 1

        pyruni {{ '{{' }}
from reader import Reader
my_reader = Reader(data_sound_filename='{{ data_sound_filename }}')
        {{ '}}' }}

        aIn in

        kRms pyeval "my_reader.get_next_value('rms')"

        aIn = aIn * kRms

        out aIn

        endin
    </CsInstruments>
    <CsScore>
        i1 0 {{ duration }}
        e
    </CsScore>
</CsoundSynthesizer>
