<CsoundSynthesizer>
    <CsOptions>
        -i {{ input_file_path }}
        --nosound
    </CsOptions>
    <CsInstruments>
        sr = 44100
        kr = {{ krate }}
        nchnls = 1
        0dbfs = 1

        pyinit

        instr 1

        pyruni {{ '{{' }}
from logger import Logger
my_logger = Logger(feature_data_file_path='{{ feature_data_file_path }}', features_to_add=['rms', 'time'])
        {{ '}}' }}

        ;kTime times

        aIn in

        kTime times
        pyassign "my_logger.buffer", kTime
        pyrun "my_logger.log_buffer('time')"

        kRms rms aIn
        pyassign "my_logger.buffer", kRms
        pyrun "my_logger.log_buffer('rms')"

        endin

        instr 2

        pyruni "my_logger.write()"

        endin
    </CsInstruments>
    <CsScore>
        i1 0 {{ duration }}
        i2 {{ duration }} 0
        e
    </CsScore>
</CsoundSynthesizer>
