<CsoundSynthesizer>
    <CsOptions>
        -i {{ file_path }}
        --nosound
    </CsOptions>
    <CsInstruments>
        sr = 44100
        kr = {{ krate }}
        nchnls = 1
        0dbfs = 1

        pyinit

        instr 1

        pyruni {{ '{{' }}
import os, sys
from logger import Logger
my_logger = Logger(krate={{ krate }}, output_file_path='{{ feature_data_file_path }}', features=['rms'])
        {{ '}}' }}

        ;kTime times

        aIn in

        kRms rms aIn
        pyassign "my_logger.buffer", kRms
        pyrun "my_logger.log('rms')"

        endin

        instr 2

        pyruni "my_logger.write()"

        endin
    </CsInstruments>
    <CsScore>
        i1 0 {{ duration }}
        i2 {{ duration }} 0
        e
    </CsScore>
</CsoundSynthesizer>
